/* src/pages/CartPage.css */

.cart-container {
  padding: 20px;
}

.cart-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-button {
  margin-left: 10px;
  background-color: #c0392b;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.order-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00fff7;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
