/* src/pages/style/Info.css */

.info-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #111;
  color: #fff;
  letter-spacing: 3px;
  border-radius: 12px;
  font-family: 'Orbitron', sans-serif;
}

.info-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.info-text {
  margin-bottom: 16px;
  line-height: 1.6;
  font-size: 16px;
}
