.replicant-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 20px;
  font-family: 'Orbitron', sans-serif;
  color: #e0e0e0;
}

.replicant-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ebebebda;
  text-align: center;
}

.replicant-form {
  display: grid;
  gap: 20px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}

.replicant-select {
  background-color: #222;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 8px 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  appearance: none;
  cursor: pointer;
  margin-left: 10px;
}

.replicant-range {
  width: 100%;
  cursor: pointer;
  accent-color: #16a34a;
}

.upload-row {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: #e0e0e0;
  font-family: 'Orbitron', sans-serif;
}

.upload-button {
  display: inline-block;
  padding: 10px 20px;
  background: #16a34a;
  border: 1px solid #16a34a;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.9rem;
  text-align: center;
  user-select: none;
}

.upload-button:hover {
  background: #0A4921;
  box-shadow: 0 0 3px #0A4921, 0 0 5px #0A4921;
}

.hidden-input {
  display: none;
}

.image-selected-text {
  margin-top: 10px;
  color: #00ffcc;
  font-size: 0.9rem;
  font-style: italic;
}

.replicant-preview {
  margin-top: 30px;
  padding: 20px;
  background: #111;
  border-radius: 10px;
  border: 1px solid #333;
  text-align: center;
}

.replicant-button {
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background: #16a34a;
  border: 1px solid #16a34a;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

.replicant-button:hover  {
  background: #0A4921;
  box-shadow: 0 0 3px #0A4921, 0 0 5px #0A4921;
}
