/* src/components/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0b0b;
  padding: 16px 24px;
  box-shadow: 0 0 15px #ff00c8;
}

.logo-section {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 12px;
}

.title {
  font-size: 1.5em;
  color: #ebebebda;
  margin: 0;
}

@media (max-width: 900px) {
  .title {
    font-size: 0.8em;
  }
}

.cart-link {
  color: #ebebebda;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 20px;
}

/* ——— Бургер и адаптивность ——— */

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 33px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #ebebebda;
  border-radius: 2px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #111;
    border-radius: 8px;
    flex-direction: column;
    padding: 20px;
    display: none;
    box-shadow: 0 0 10px rgba(255, 128, 0, 0.3);
    z-index: 1000;
  }

  .nav-links.open {
    display: flex;
  }
}

