.App {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

